.rec_header_and_input {
    display:flex;
    flex-direction:row;
    background-color:white;
    height: 10%;
    align-items: center;
    justify-content: center;
    height:100px;
}

.logo_2 {
    width:30%;
    height:auto;
    padding-right:80%;
}

.my_form {
    background-color: #B23B3B;
    border: 2px solid black;
    width: 800px;
    display: flex;
    justify-content: center;
    margin-right:40px;
  }
  
  .my_form label,
  .my_form input,
  .my_form button {
    background-color: white;
    border: 1px solid black;
    margin: 10px;
    width: 40%;
    box-sizing: border-box;
  }
  
  .my_form label {
    text-align: center;
    display: flex;
    align-items: center;
    padding-right: 10px;
    justify-content: center;
    font-weight:bolder;
  }
  
  .my_form input {
    flex: 1;
    padding: 5px;
  }
  
  .my_form button {
    width: auto;
    background-color:black;
    color:white;
    margin: 0;
    padding: 5px 10px;
    box-sizing: border-box;
    font-weight:bolder;
  }

  .main {
    display:flex;
    flex-direction:row;
    flex:1;
  }

  .box {
    flex:1;
    height:45vh;
    display:flex;
    flex-direction:column;
    background-color:white;
    margin: 20p;
    justify-content:flex-start;
    align-items:center;
    margin: 20px;
    overflow:scroll;
  }

  .box2 {
    flex:1;
    height:45vh;
    display:flex;
    flex-direction:column;
    background-color:white;
    margin: 20p;
    justify-content:flex-start;
    align-items:center;
    margin: 20px;
    overflow:scroll;
  }

  .box_title {
    font-size:medium;
    border-bottom: 1px solid #000; /* Add underline using a bottom border */
    padding-bottom: 5px;
    margin-bottom: 15px;
    margin-top:10px;
  }

  .display {
    background-color:#000;
    color:white;
    font-size:x-small;
    height:20px;
    width:60%;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    padding:5px;
    margin-right:20px;
    margin-left:20px;
    margin-top:5px;
  }

  .metricForm {
    padding: 15px;
  }

  .make_playlist {
    background-color: #000;
    color:white;
    justify-content: center;
    align-items: center;
    height:60px;
    width:180px;
    font-size:large;
    font-weight:bolder;
  }